In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
 data = pd.read_csv("cars.csv")

In [4]:
 data

        Car Colour  Odometer(KM)  Doors  Price(KSh)
0     Mazda    Red         25987      4     3450000
1    Toyota  Black        123907      4      950000
2     Tesla   Grey         85723      2    12450000
3   V.Wagon   Blue        111634      4     2500000
4  Peugeout  White         99561      4     2780000
5       BMW  Black         41007      2     7550000
6  Mercedes  Black         39765      2     6000000
7    Subaru    Red        145456      4     3270000
8     Lexus  Cream         75636      4    14670000
9   Morbius  Black         23089      2     5500000

In [9]:
seats = pd.Series([5,5,2,5,5,5,2,2,5,2])
data["Seats"]= seats

In [10]:
data

        Car Colour  Odometer(KM)  Doors  Price(KSh)  Seats
0     Mazda    Red         25987      4     3450000      5
1    Toyota  Black        123907      4      950000      5
2     Tesla   Grey         85723      2    12450000      2
3   V.Wagon   Blue        111634      4     2500000      5
4  Peugeout  White         99561      4     2780000      5
5       BMW  Black         41007      2     7550000      5
6  Mercedes  Black         39765      2     6000000      2
7    Subaru    Red        145456      4     3270000      2
8     Lexus  Cream         75636      4    14670000      5
9   Morbius  Black         23089      2     5500000      2

In [11]:
fuel_consumption = pd.Series([5.4,2.3,5.8,9,4.2,6.3])
data["Fuel_per_100KM"] = fuel_consumption
data

        Car Colour  Odometer(KM)  Doors  Price(KSh)  Seats  Fuel_per_100KM
0     Mazda    Red         25987      4     3450000      5             5.4
1    Toyota  Black        123907      4      950000      5             2.3
2     Tesla   Grey         85723      2    12450000      2             5.8
3   V.Wagon   Blue        111634      4     2500000      5             9.0
4  Peugeout  White         99561      4     2780000      5             4.2
5       BMW  Black         41007      2     7550000      5             6.3
6  Mercedes  Black         39765      2     6000000      2             NaN
7    Subaru    Red        145456      4     3270000      2             NaN
8     Lexus  Cream         75636      4    14670000      5             NaN
9   Morbius  Black         23089      2     5500000      2             NaN

In [13]:
data["Fuel_per_100KM"] = data["Fuel_per_100KM"].fillna(data["Fuel_per_100KM"].mean())
data

        Car Colour  Odometer(KM)  Doors  Price(KSh)  Seats  Fuel_per_100KM
0     Mazda    Red         25987      4     3450000      5             5.4
1    Toyota  Black        123907      4      950000      5             2.3
2     Tesla   Grey         85723      2    12450000      2             5.8
3   V.Wagon   Blue        111634      4     2500000      5             9.0
4  Peugeout  White         99561      4     2780000      5             4.2
5       BMW  Black         41007      2     7550000      5             6.3
6  Mercedes  Black         39765      2     6000000      2             5.5
7    Subaru    Red        145456      4     3270000      2             5.5
8     Lexus  Cream         75636      4    14670000      5             5.5
9   Morbius  Black         23089      2     5500000      2             5.5

In [15]:
data["Total_fuel(L)"] = data["Odometer(KM)"]/100 * data["Fuel_per_100KM"]
data

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,Total_fuel,Total_fuel(L)
0,Mazda,Red,25987,4,3450000,5,5.4,1403.298,1403.298
1,Toyota,Black,123907,4,950000,5,2.3,2849.861,2849.861
2,Tesla,Grey,85723,2,12450000,2,5.8,4971.934,4971.934
3,V.Wagon,Blue,111634,4,2500000,5,9.0,10047.060,10047.060
4,Peugeout,White,99561,4,2780000,5,4.2,4181.562,4181.562
5,BMW,Black,41007,2,7550000,5,6.3,2583.441,2583.441
6,Mercedes,Black,39765,2,6000000,2,5.5,2187.075,2187.075
7,Subaru,Red,145456,4,3270000,2,5.5,8000.080,8000.080
8,Lexus,Cream,75636,4,14670000,5,5.5,4159.980,4159.980
9,Morbius,Black,23089,2,5500000,2,5.5,1269.895,1269.895

In [16]:
data["No_of_wheels"] = 4
data

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,Total_fuel,Total_fuel(L),No_of_wheels
0,Mazda,Red,25987,4,3450000,5,5.4,1403.298,1403.298,4
1,Toyota,Black,123907,4,950000,5,2.3,2849.861,2849.861,4
2,Tesla,Grey,85723,2,12450000,2,5.8,4971.934,4971.934,4
3,V.Wagon,Blue,111634,4,2500000,5,9.0,10047.060,10047.060,4
4,Peugeout,White,99561,4,2780000,5,4.2,4181.562,4181.562,4
5,BMW,Black,41007,2,7550000,5,6.3,2583.441,2583.441,4
6,Mercedes,Black,39765,2,6000000,2,5.5,2187.075,2187.075,4
7,Subaru,Red,145456,4,3270000,2,5.5,8000.080,8000.080,4
8,Lexus,Cream,75636,4,14670000,5,5.5,4159.980,4159.980,4
9,Morbius,Black,23089,2,5500000,2,5.5,1269.895,1269.895,4

In [17]:
data.dtypes

Car                object
Colour             object
Odometer(KM)        int64
Doors               int64
Price(KSh)          int64
Seats               int64
Fuel_per_100KM    float64
Total_fuel        float64
Total_fuel(L)     float64
No_of_wheels        int64
dtype: object

In [20]:
data = data.drop("Total_fuel(L)", axis=1)

In [21]:
data

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels
0,Mazda,Red,25987,4,3450000,5,5.4,4
1,Toyota,Black,123907,4,950000,5,2.3,4
2,Tesla,Grey,85723,2,12450000,2,5.8,4
3,V.Wagon,Blue,111634,4,2500000,5,9.0,4
4,Peugeout,White,99561,4,2780000,5,4.2,4
5,BMW,Black,41007,2,7550000,5,6.3,4
6,Mercedes,Black,39765,2,6000000,2,5.5,4
7,Subaru,Red,145456,4,3270000,2,5.5,4
8,Lexus,Cream,75636,4,14670000,5,5.5,4
9,Morbius,Black,23089,2,5500000,2,5.5,4

In [22]:
data["Max_load"] = pd.Series([600,750,1200,750,650,400])
data

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
0,Mazda,Red,25987,4,3450000,5,5.4,4,600.0
1,Toyota,Black,123907,4,950000,5,2.3,4,750.0
2,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
3,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0
4,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
5,BMW,Black,41007,2,7550000,5,6.3,4,400.0
6,Mercedes,Black,39765,2,6000000,2,5.5,4,NaN
7,Subaru,Red,145456,4,3270000,2,5.5,4,NaN
8,Lexus,Cream,75636,4,14670000,5,5.5,4,NaN
9,Morbius,Black,23089,2,5500000,2,5.5,4,NaN

In [24]:
data["Max_load"] = data["Max_load"].fillna(data["Max_load"].mean())
data

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
0,Mazda,Red,25987,4,3450000,5,5.4,4,600.0
1,Toyota,Black,123907,4,950000,5,2.3,4,750.0
2,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
3,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0
4,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
5,BMW,Black,41007,2,7550000,5,6.3,4,400.0
6,Mercedes,Black,39765,2,6000000,2,5.5,4,725.0
7,Subaru,Red,145456,4,3270000,2,5.5,4,725.0
8,Lexus,Cream,75636,4,14670000,5,5.5,4,725.0
9,Morbius,Black,23089,2,5500000,2,5.5,4,725.0

In [26]:
data.sample(frac=1)

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
5,BMW,Black,41007,2,7550000,5,6.3,4,400.0
0,Mazda,Red,25987,4,3450000,5,5.4,4,600.0
6,Mercedes,Black,39765,2,6000000,2,5.5,4,725.0
3,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0
7,Subaru,Red,145456,4,3270000,2,5.5,4,725.0
2,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
8,Lexus,Cream,75636,4,14670000,5,5.5,4,725.0
4,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
1,Toyota,Black,123907,4,950000,5,2.3,4,750.0
9,Morbius,Black,23089,2,5500000,2,5.5,4,725.0

In [30]:
data_shuffled = data.sample(frac=1)
data = data_shuffled.sample(frac=0)

In [31]:
data

Empty DataFrame
Columns: [Car, Colour, Odometer(KM), Doors, Price(KSh), Seats, Fuel_per_100KM, No_of_wheels, Max_load]
Index: []

In [32]:
data_shuffled

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
8,Lexus,Cream,75636,4,14670000,5,5.5,4,725.0
3,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0
7,Subaru,Red,145456,4,3270000,2,5.5,4,725.0
6,Mercedes,Black,39765,2,6000000,2,5.5,4,725.0
0,Mazda,Red,25987,4,3450000,5,5.4,4,600.0
9,Morbius,Black,23089,2,5500000,2,5.5,4,725.0
1,Toyota,Black,123907,4,950000,5,2.3,4,750.0
2,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
4,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
5,BMW,Black,41007,2,7550000,5,6.3,4,400.0

In [35]:
data = data_shuffled.reset_index(drop= True, inplace= True)
data

In [36]:
data_shuffled

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
0,Lexus,Cream,75636,4,14670000,5,5.5,4,725.0
1,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0
2,Subaru,Red,145456,4,3270000,2,5.5,4,725.0
3,Mercedes,Black,39765,2,6000000,2,5.5,4,725.0
4,Mazda,Red,25987,4,3450000,5,5.4,4,600.0
5,Morbius,Black,23089,2,5500000,2,5.5,4,725.0
6,Toyota,Black,123907,4,950000,5,2.3,4,750.0
7,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
8,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
9,BMW,Black,41007,2,7550000,5,6.3,4,400.0

In [37]:
data

In [38]:
data_shuffled.sample(frac=1)

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
2,Subaru,Red,145456,4,3270000,2,5.5,4,725.0
3,Mercedes,Black,39765,2,6000000,2,5.5,4,725.0
6,Toyota,Black,123907,4,950000,5,2.3,4,750.0
0,Lexus,Cream,75636,4,14670000,5,5.5,4,725.0
8,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
9,BMW,Black,41007,2,7550000,5,6.3,4,400.0
5,Morbius,Black,23089,2,5500000,2,5.5,4,725.0
7,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
1,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0
4,Mazda,Red,25987,4,3450000,5,5.4,4,600.0

In [40]:
data_shuffled = data_shuffled.sample(frac=1)

In [41]:
data_shuffled

,Car,Colour,Odometer(KM),Doors,Price(KSh),Seats,Fuel_per_100KM,No_of_wheels,Max_load
7,Tesla,Grey,85723,2,12450000,2,5.8,4,1200.0
8,Peugeout,White,99561,4,2780000,5,4.2,4,650.0
3,Mercedes,Black,39765,2,6000000,2,5.5,4,725.0
9,BMW,Black,41007,2,7550000,5,6.3,4,400.0
0,Lexus,Cream,75636,4,14670000,5,5.5,4,725.0
4,Mazda,Red,25987,4,3450000,5,5.4,4,600.0
6,Toyota,Black,123907,4,950000,5,2.3,4,750.0
5,Morbius,Black,23089,2,5500000,2,5.5,4,725.0
2,Subaru,Red,145456,4,3270000,2,5.5,4,725.0
1,V.Wagon,Blue,111634,4,2500000,5,9.0,4,750.0

In [43]:
data_shuffled = data_shuffled.reset_index(drop=True, inplace=True)

In [44]:
data_shuffled

In [45]:
    print(data_shuffled)

None

In [46]:
data

In [47]:
 data = pd.read_csv("cars.csv")

In [48]:
data

        Car Colour  Odometer(KM)  Doors  Price(KSh)
0     Mazda    Red         25987      4     3450000
1    Toyota  Black        123907      4      950000
2     Tesla   Grey         85723      2    12450000
3   V.Wagon   Blue        111634      4     2500000
4  Peugeout  White         99561      4     2780000
5       BMW  Black         41007      2     7550000
6  Mercedes  Black         39765      2     6000000
7    Subaru    Red        145456      4     3270000
8     Lexus  Cream         75636      4    14670000
9   Morbius  Black         23089      2     5500000

In [50]:
data["Odometer(KM)"] = data["Odometer(KM)"].apply(lambda x:x /1.6)
data

        Car Colour  Odometer(KM)  Doors  Price(KSh)
0     Mazda    Red     16241.875      4     3450000
1    Toyota  Black     77441.875      4      950000
2     Tesla   Grey     53576.875      2    12450000
3   V.Wagon   Blue     69771.250      4     2500000
4  Peugeout  White     62225.625      4     2780000
5       BMW  Black     25629.375      2     7550000
6  Mercedes  Black     24853.125      2     6000000
7    Subaru    Red     90910.000      4     3270000
8     Lexus  Cream     47272.500      4    14670000
9   Morbius  Black     14430.625      2     5500000